@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}

nav{
    width: 100%;
    height: 50px;
    background-color: rgb(93, 120, 203);
    line-height: 50px;
    padding: 0 50px;
}
nav .logo{
    float: left ;
}

nav .logo p{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1.5px   ;
}

nav .logo p:hover{
    color: #fff;
}

.checkbtn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
     float: right;
    display: none;
}

#check{
    display: none;
}

nav ul{ 
    float: right;
}
nav ul li{
  list-style:none;
  display: inline-block;
}
  
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 15px;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{

    color: #000000;
}

@media (max-width: 790px){
    nav{
        padding: 0 50px;
    }

    .checkbtn{
        display: block;
    }

    nav .logo p{
        font-size: 1.2rem;
    }

    nav ul{
        width: 100%;
        height: 100vh;
        background-color: rgb(120, 84, 127);
        position: fixed ;
        top: 50px;
        left: -100%;
        text-align: center;
    }

    nav ul li{ 
        display: block;
        margin: 60px 0;
        line-height: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

}